<template>
<div class="row">
<div class="col m12">
<GmapMap
  :center="markers[0].position"
  :zoom="7"
  map-type-id="terrain"
  style="width: auto; height: 80vh;"
>
  <GmapMarker
    :key="index"
    v-for="(m, index) in markers"
    :position="m.position"
    :clickable="true"
    :draggable="true"
    @click="getCarInfo(index)"
  />
</GmapMap>
</div>
  </div>
</template>

<script>
import GoogleMapsLoader from 'google-maps'
  export default {
    name: 'Hello',
    data () {
      return {
        msg: 'Welcome to Crypto Info',
        markers: [{
            index: 0,
            position: {lat: 54.352815, lng: 10.130217}
        },
         {
            index: 1,
            position: {lat: 54.300211, lng: 10.051451}
        }
        ]
      }
    },
    methods: {
      getCarInfo(id){
        alert(id);
      }
    }
  }



</script>


