<template>
  <div class="row">
  <p><b>Wählen Sie ein Auto aus um eine Tankstelle in der Nähe zu finden.</b></p>
    <div v-for="car of cars" class="col s12 m4">
      <div class="card large">
        <div class="card-image">
          <img class="imp-responsive" v-bind:src="car.bild">
          <span class="card-title">{{ car.name }}</span>
        </div>

        <div v-if="car.found" class="card-content">
            <i class="material-icons tiny circle green icon-white">check</i> Verfügbar
          <p>Die Reichweite beträgt {{ calculateDistance(car.averageConsumption, car.litres) }} km.</p>
          <br>
        </div>

        <div v-else-if="!car.found" class="card-content">
            <i class="material-icons tiny circle red icon-white">close</i> Nicht verfügbar
        </div>


        <div v-else class="card-content">
          <div class="preloader-wrapper tinysmall active">
 <div class="spinner-layer spinner-blue-only">
   <div class="circle-clipper left">
     <div class="circle"></div>
   </div><div class="gap-patch">
     <div class="circle"></div>
   </div><div class="circle-clipper right">
     <div class="circle"></div>
   </div>
 </div>
</div>

     Wird kontaktiert... {{ car.available }}
        </div>


        <div class="card-action" v-if="car.found">
        <router-link :to="{ name: 'gasstationcar', params: {'id': car.id } }">Tankstelle für {{ car.name }} finden.</router-link>
        </div>
      </div>
    </div>
      </div>

</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      cars: [],
      errors: []
    };
  },
  name: "About",
  methods: {
    calculateDistance: function(averageConsumption, litres) {
      var distance = litres / (averageConsumption / 100);
      return distance.toFixed(0);
    },
    request: function(arr, index) {
      var self = this;
      axios.defaults.timeout = 5000;
      return axios
        .get(arr[index])
        .then(response => {
          this.cars[index] = response.data;
          index++;
          if (index >= arr.length) {
            return "done";
          }
          return this.request(arr, index);
        })
        .catch(error => {
          index++;
          if (index >= arr.length) {
            return "done";
          }
          return this.request(arr, index);
        });
    },
    makeRequestsFromArray: function(arr) {
      let index = 0;
      return this.request(arr, index);
    }
  },
  created() {
    axios
      .get(`http://46.101.136.10/api/VWSERVER`)
      .then(response => {
        this.cars = response.data;
        this.makeRequestsFromArray([
          this.cars[0].api,
          this.cars[1].api,
          this.cars[2].api
        ]);
      })
      .catch(e => {
        this.errors.push(e);
      });
  }
};
</script>
