<template>
  <div class="row">
  <b>Per Klick auf eine Tankstelle kann diese dem Auto zugesendet werden.</b>
  <div v-if="car">
    <GmapMap
  :center="{lat: parseFloat(carinfo.lat), lng: parseFloat(carinfo.lng)}"
  :zoom="13"
  map-type-id="terrain"
  style="width: auto; height: 400px;"
>
  <GmapMarker
    :key="index"
    v-for="(m, index) in gasstations"
    :position="m.position"
    :clickable="true"
    :draggable="false"
    :label="{'text': '' + m.price, 'color': 'black'}"
    :icon.sync="m.icon"
    @click="changeOnCarState(index)"
  />

    <GmapMarker v-if="carinfo"
    :position="{lat: parseFloat(carinfo.lat), lng: parseFloat(carinfo.lng)}"
    :clickable="true"
    :draggable="false"
    :icon.sync=carinfo.icon
     :zIndex="999"
  />
</GmapMap>
</GmapMap>
       <table class="striped">
        <thead>
          <tr>
              <th>Name</th>
              <th>Adresse</th>
              <th>Preis pro Liter</th>
              <th>An Auto übertragen/entfernen</th>
          </tr>
        </thead>

        <tbody>
          <tr  :key="index" v-if="station.isOnCar == true" v-for="(station, index) in gasstations">
            <td>{{ station.brand }}</td>
            <td>{{ station.place }}, {{ station.street }} (<b>{{ station.dist }}km</b> Entfernung)</td>
            <td>{{ station.price }}€</td>
            <td> 
              <a @click="removeFromCar(index)" class="waves-effect  btn red darken-1"><i class="material-icons left">remove</i>Entfernen</a>
            </td>
          </tr>

           <tr  :key="index" v-if="station.isOnCar == false" v-for="(station, index) in gasstations">
            <td>{{ station.brand }}</td>
            <td>{{ station.place }}, {{ station.street }} (<b>{{ station.dist }}km</b> Entfernung)</td>
            <td>{{ station.price }}€</td>
            <td>  
<a @click="addToCar(index)" class="waves-effect  btn waves-light "><i class="material-icons left">send</i>Übertragen</a>
          
            </td>
          </tr>
        </tbody>
      </table>


      

    </div>
      </div>
</template>

<script>
import axios from "axios";
export default {
  name: "About",
  data() {
    return {
      id: 0,
      cars: [
        {
          name: "Golf 7",
          bild:
            "http://i.auto-bild.de/i/vw_onepager/vw-golf-7-facelift-vorstellung04.jpg",
          api: "http://46.101.136.10/api/"
        },
        {
          name: "T6",
          bild:
            "https://www.tagesspiegel.de/images/20150407vr003/11655632/2-format43.jpg",
          api: ""
        },
        {
          name: "UP!",
          bild:
            "https://www.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/volkswagen-up.jpg?itok=dxjb9102",
          api: ""
        }
      ],
      car: [],
      errors: [],
      gasstations: [],
      gasstationsOnCar: [],
      markers: [],
      carinfo: "",
      loaded: false
    };
  },
  methods: {
    changeOnCarState(index) {
      if (this.gasstations[index].isOnCar) {
        this.removeFromCar(index);
      } else {
        this.addToCar(index);
      }
    },
    getCarInfo(callback) {
      var self = this;
      axios
        .get(self.cars[self.id].api + "carInfo")
        .then(function(response) {
          callback(response.data);
          console.log(response);
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        })
        .then(function() {
          // always executed
        });
    },
    loadGasstaionsOnCar(callback) {
      var self = this;
      axios
        .get(self.cars[self.id].api + "gasstations")
        .then(response => {
          callback(response.data);
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    checkIfOnCar(id) {
      var found = false;
      for (var i = 0; i < this.gasstationsOnCar.length; i++) {
        if (this.gasstationsOnCar[i].id == id) {
          found = true;
          break;
        }
      }
      return found;
    },

    addToCar(index) {
      let options = {
        okText: "Ja",
        cancelText: "Nein",
        animation: "zoom"
      };
      var self = this;
      this.$dialog
        .confirm(
          "Soll die " +
            this.gasstations[index].brand +
            " Tankstelle an dein Auto gesendet werden?",
          options
        )
        .then(function() {
          axios
            .post(self.cars[self.id].api + "gasstations", {
              id: self.gasstations[index].id,
              brand: self.gasstations[index].brand,
              lat: self.gasstations[index].lat,
              lng: self.gasstations[index].lng
            })
            .then(function(response) {
              var result = self.gasstations.filter(function(obj) {
                return obj.id == response.data.id;
              });
              result[0].isOnCar = true;
              result[0].icon =
                "http://lastazione-meldorf.de/img/imgmarker2.png";
            })
            .catch(function(error) {
              console.log(error);
            });
        })
        .catch(function() {
          console.log("Clicked on cancel");
        });
    },
    removeFromCar: function(index) {
      let options = {
        okText: "Ja",
        cancelText: "Nein",
        animation: "zoom"
      };
      var self = this;
      this.$dialog
        .confirm(
          "Soll die " +
            this.gasstations[index].brand +
            " Tankstelle vom Auto entfernt werden?",
          options
        )
        .then(function() {
          axios
            .delete(
              self.cars[self.id].api +
                "gasstations/" +
                self.gasstations[index].id +
                ""
            )
            .then(function(response) {
              console.log(response);
              var result = self.gasstations.filter(function(obj) {
                return obj.id == self.gasstations[index].id;
              });
              result[0].isOnCar = false;
              result[0].icon =
                "https://image.ibb.co/iWOe6o/imageedit_7_6104084737.png";
            })
            .catch(function(error) {
              console.log(error);
            });
        })
        .catch(function() {
          console.log("Clicked on cancel");
        });
    },
    getGasstations: function() {
      var self = this;
      axios
        .get("https://creativecommons.tankerkoenig.de/json/list.php", {
          params: {
            lat: this.carinfo.lat,
            lng: this.carinfo.lng,
            rad: 10,
            sort: "price",
            type: this.carinfo.type,
            apikey: "bd931f7d-b36a-3875-8980-179d7fdb2c76"
          }
        })
        .then(function(response) {
          response.data.stations.forEach(function(item) {
            if (self.checkIfOnCar(item.id)) {
              item.isOnCar = true;
              item.icon = "https://image.ibb.co/n2FU7T/imgmarker.png";
            } else {
              item.isOnCar = false;
              item.icon =
                "https://image.ibb.co/iWOe6o/imageedit_7_6104084737.png";
            }
            item.position = { lat: item.lat, lng: item.lng };
          });
          self.gasstations = response.data.stations;
          self.loaded = true;
        })
        .catch(function(error) {
          console.log(error);
        })
        .then(function() {});
    },
    request: function(arr, index) {
      axios.defaults.timeout = 5000;
      return axios
        .get(arr[index])
        .then(response => {
          this.car = response.data;
          index++;
          if (index >= arr.length) {
            return "done";
          }
          return this.request(arr, index);
        })
        .catch(error => {
          this.cars[index].distance = "notfound";
          index++;
          if (index >= arr.length) {
            return "done";
          }
          return this.request(arr, index);
        });
    },
    makeRequestsFromArray: function(arr) {
      let index = 0;
      return this.request(arr, index);
    }
  },
  created() {
    this.id = this.$route.params.id;
    var self = this;
    this.getCarInfo(function(response) {
      self.carinfo = response;
      self.loadGasstaionsOnCar(function(response) {
        self.gasstationsOnCar = response;
        self.getGasstations();
      });
    });
  },
  updated() {
    var elems = document.querySelectorAll(".collapsible");
    var instances = M.Collapsible.init(elems, null);
  },
  mounted: function() {}
};
</script>

<style>
.dg-btn--ok {
  background-color: white;
}

.dg-btn--ok:focus {
  background-color: white;
}
</style>