<template>
  <div class="row">
        <div class="col s12 m12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">music_note</i>
          <input id="icon_prefix" v-model="input" type="text"  class="validate">
          <button @click="getSongs" class="waves-effect waves-light btn"><i class="material-icons left">search</i>Suchen</button>
          <label for="icon_prefix">iTunes durchsuchen</label>
        </div>
  </div>
     <div v-if="loading" class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
<p v-if="!songs">
Nutze das Eingabefeld zur Suche!
</p>
      <table v-if="songs">
        <thead>
          <tr>
              <th>Song</th>
              <th>Artist</th>
              <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="song in songs">
            <td>{{song.trackName}}</td>
            <td>{{song.artistName}}</td>
            <td> <a @click="add()" class="waves-effect waves-light btn"><i class="material-icons left">playlist_add</i>Add</a> <a @click="remove()" class="waves-effect  btn red darken-1"><i class="material-icons left">remove</i>Remove</a> </td>
          </tr>
        </tbody>
      </table>


      
        </div>
      </div>
</template>

<script>
import axios from "axios";
var jsonp = require('jsonp');

export default {
  data() {
    return {
      songs: "",
      errors: [],
      input: "",
      loading: false
    };
  },
  name: "Music",
  methods: {
    getSongs() {
      this.loading = true;
var self = this;
jsonp("http://itunes.apple.com/search?term=" + self.input + "&media=music", {param: "callback", timout: "6000", prefix: "", name:"JSONP_CALLBACK"}, function (err, data) {
  if (err) {
    console.error(err.message);
  } else {
    self.loading = false;
    self.songs = data.results;
     console.log(self.songs);
  }
});

    },
    add: function() {
      //Zum Auto hinzufügen
    },
    remove: function() {
       //Vom Auto entfernen
    }
  },
  created() {}
};
</script>

