<template>
  <div class="row">
  <b>Per Klick auf eine Tankstelle kann diese dem Auto zugesendet werden.</b><br><br>
  <br>
  <div v-if="car">

<b> Startzeit: </b> <input type="text" class="timepicker" v-model="start" placeholder="hh:mm">
<b> Endzeit: </b> <input type="text" class="timepicker" v-model="end" placeholder="hh:mm">
<b> Temperatur: </b> {{ this.temperatur }}
<p class="range-field">
      <input type="range" id="test5" v-model="temperatur" min="15" max="30" />
    </p>
  <button @click="addTemperature" class="btn waves-effect waves-light" type="submit" name="action">Hinzufügen
    <i class="material-icons right">send</i>
  </button>
  <br><br><br
          <table class="striped">
        <thead>
          <tr>
              <th>Startzeit</th>
              <th>Endzeit</th>
              <th>Temperatur</th>
              <th>Löschen</th>
          </tr>
        </thead>

        <tbody>
          <tr  :key="index" v-for="(temperatur, index) in temperatures">
            <td>{{ temperatur.start }}</td>
            <td>{{ temperatur.end }}</td>
            <td>{{ temperatur.temperature }}</td>
            <td> 
              <a @click="deleteTemperature(temperatur.id)" class="waves-effect  btn red darken-1"><i class="material-icons left">remove</i>Entfernen</a>
            </td>
          </tr>

        </tbody>
      </table>


      

    </div>
      </div>
</template>

<script>
import axios from "axios";
export default {
  name: "About",
  data() {
    return {
      id: 0,
      temperatur: "25",
      start: "",
      end: "",
      cars: [
        {
          name: "Golf 7",
          bild:
            "http://i.auto-bild.de/i/vw_onepager/vw-golf-7-facelift-vorstellung04.jpg",
          api: "http://46.101.136.10/api/"
        },
        {
          name: "T6",
          bild:
            "https://www.tagesspiegel.de/images/20150407vr003/11655632/2-format43.jpg",
          api: "https://api.myjson.com/bins/qi4ay"
        },
        {
          name: "UP!",
          bild:
            "https://www.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/volkswagen-up.jpg?itok=dxjb9102",
          api: "https://api.myjson.com/bins/rozii"
        }
      ],
      car: [],
      errors: [],
      temperatures: [],
      markers: [],
      carinfo: "",
      loaded: false
    };
  },
  methods: {
    getTemperatures: function() {
      // Make a request for a user with a given ID
      var self = this;
      axios
        .get("http://46.101.136.10/api/heatings")
        .then(function(response) {
          self.temperatures = response.data;
          console.log(response);
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        })
        .then(function() {
          // always executed
        });
    },
    deleteTemperature: function(id) {
var self = this;
      axios
        .delete("http://46.101.136.10/api/heatings/"+ id)
        .then(function(response) {
      self.getTemperatures();
          console.log(response);
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        })
        .then(function() {
          // always executed
        });
    },
    addTemperature: function() {
        var self = this;
        axios.post('http://46.101.136.10/api/heatings', {
    start: self.start,
    end: self.end,
    temperature: self.temperatur
  })
  .then(function (response) {
      self.getTemperatures();
      self.start="";
      self.end ="";
      self.temperatur="";
    console.log(response);
  })
  .catch(function (error) {
    console.log(error);
  });
    }
  },
  created() {
    this.getTemperatures();
  },
  updated() {
    var elems = document.querySelectorAll(".collapsible");
    var instances = M.Collapsible.init(elems, null);
  },
  mounted: function() {}
};
</script>

<style>
.dg-btn--ok {
  background-color: white;
}

.dg-btn--ok:focus {
  background-color: white;
}
</style>