<template>
<div id="app">
  <header>
  <nav class="top-nav">
<div class="container">
<div class="nav-wrapper">
<div class="row">
<div class="col s12 m10">
  <div class="col m1">
 <p class="header"> <a href="#" data-target="slide-out" class="top-nav sidenav-trigger full hide-on-large-only"><i class="material-icons">menu</i></a> </p>
 </div>
<h1 class="header" stlye="float: left;">VW Cars</h1>

</div>
</div>
</div>
</div>
</nav>
<ul id="slide-out" class="sidenav sidenav-fixed">
 <div class="user-view">
   <div class="background">
     <img src="https://vignette.wikia.nocookie.net/nfs/images/2/20/VW_Logo.png/revision/latest?cb=20131015195611&path-prefix=de" class="responsive-img">
   </div>
 </div>
 <li active-class="active" v-for="route in items" v-if="route.inmenu">
<router-link :to="route" class="waves-effect waves-teal">
  <i class="material-icons">{{ route.icon }}</i>  {{ route.title }}
</router-link>
</li>
     <li><div class="divider"></div></li>
 <li><a class="subheader">Hilfe</a></li>
 <li><a class="waves-effect" href="#!">Kontakt</a></li>
 <li><a class="waves-effect" href="#!">FAQ</a></li>
</ul>
</header>
<main>
  <div class="car-cards">
      <router-view></router-view>
</div>
</main>
  </div>
</template>

<script>
import { routes } from './router/index.js'

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, "");
  });

export default {
name: 'app',
created() {

       this.$router.options.routes.forEach(route => {
           this.items.push({
               name: route.name,
               title: route.title,
               icon: route.icon
               , path: route.path,
               inmenu: route.inmenu
           })
       })
   }
   , data() {
       return {
           items: []
       }
   }
}
</script>

<style>
.user-view {
  height: 130px;
}

nav {
  color: black;
  background: none;
}

header {
  padding-left: 300px;
}

#map {
  min-height: 500px;
}

.tinysmall {
  height: 18px;
  width: 18px;
}

ul.sidenav.sidenav-fixed ul.collapsible-accordion a.collapsible-header {
    padding: 0 30px;
}

ul.sidenav.sidenav-fixed li a {
    font-size: 13px;
    line-height: 44px;
    height: 44px;
    padding: 0 30px;
}

header .container {
  width: 100%;
}

nav.top-nav {
  height: 110px;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid rgba(0,0,0,0.14)
}

nav.top-nav h1.header {
  margin: 0;
  padding-top: 26px;
  color:#1e88e5;
  font-weight: 300;
}

header, main, footer {
    padding-left: 300px;
}

@media (max-width: 992px){
header, main, footer {
    padding-left: 0;
}
}


.car-cards {
  padding: 20px;
}

i.icon-white {
    color: white;
}

nav a{
  color: black;
}

.sidenav-trigger {
  padding-right: 40px;
}

</style>
